.header {
    background: #e5eef4;
    padding-top: 12px;
    height: 820px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    z-index: 99999;
    @include media(900) {
        padding: 12px 15px 0 !important;
    }
    &-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 21px;
        border-radius: 75px;
        background: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(7.5px);
        position: relative;
        z-index: 99999;
        @include media(900) {
            background: white;
        }
        .burger {
            background: none;
            display: none;
            visibility: hidden;
            @include media(900) {
                display: block;
                visibility: visible;
                order: 2;
            }
        }
        .close{
            background: none;
            display: none;
            visibility: hidden;
            @include media(900){
                display: block;
                visibility: visible;
                position: absolute;
                top: 25px;
                right: 25px;
            }
        }
        &-list {
            display: flex;
            flex-grow: 1;
            margin-left: 73px;
            gap: 41px;
            transition: 300ms;
            position: relative;
            @include media(900) {
                flex-direction: column;
                transform: translateX(170%);
                gap: 0;
                position: absolute;
                right: 10px;
                top: 14px;
                border-radius: 20px;
                // background: red;
                background: white;
                z-index: 999999;
                width: 256px;
                height: 576px;
                padding: 31px;
                padding-top: 53px;
                flex-grow: 0;
                li {
                    margin-bottom: 30px;
                    a {
                        color: rgb(34, 37, 59);
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 100%;
                    }
                }
            }
            &.active {
                transform: translateX(0);

            }
            a {
                color: #22253b;
                font-size: 13px;
                transition: 0.2s;
                &:hover {
                    color: #f15525;
                }
            }
        }
        &-form {
            display: flex;
            gap: 15px;
            @include media(900) {
                order: 1;
            }
            button {
                color: #3c3e50;
                font-size: 13px;
                background: none;
                cursor: pointer;
                transition: 0.3s;
                @include media(900) {
                    display: none;
                    visibility: hidden;
                }
                &:hover {
                    color: #f15525;
                }
                &:last-child {
                    display: block;
                    visibility: visible;
                    padding: 8px 14px;
                    padding-left: 26px;
                    border-radius: 34px;
                    background: #38bff2;
                    color: white;
                    display: flex;
                    position: relative;
                    &::before {
                        content: url("@/assets/images/Nav/arrow.svg");
                        display: block;
                        position: absolute;
                        left: 10px;
                    }
                    &:hover::before {
                        animation: slide 1s infinite;
                    }
                    &:hover {
                        background: #f15525;
                    }
                }
            }
        }
    }
    &-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-grow: 1;
        position: relative;
        z-index: 9999;
        &-left {
            max-width: 638px;
            position: relative;
            z-index: 9999;
            animation: parallaxLeft 5s both ease-in-out;

            h1 {
                color: #22253b;
                font-size: 46px;
                font-weight: 500;
                line-height: 100%;
                margin-bottom: 45px;
                span {
                    color: #22253b;
                    font-weight: 700;
                    font-style: italic;
                    &::after {
                        content: "}";
                        color: #f15525;
                        font-size: 46px;
                        font-weight: 500;
                        font-style: normal;
                    }
                    &::before {
                        content: "{";
                        font-style: normal;
                        color: #f15525;
                        font-size: 46px;
                        font-weight: 500;
                    }
                }
                &::after {
                    content: "";
                    width: 365px;
                    height: 1px;
                    display: block;
                    background: #dedede;
                    margin-top: 31px;
                }
            }
            p {
                color: #22253b;
                font-weight: 400;
                line-height: 23px;
                max-width: 365px;
                margin-bottom: 18px;
            }
            a {
                padding: 27px 45px;
                border-radius: 82px;
                background: #f15525;
                color: #fff;
                font-size: 20px;
                line-height: 96.688%; /* 19.338px */
                letter-spacing: -0.6px;
                display: block;
                width: max-content;
                transition: 0.3s linear;
                &::after {
                    content: url("@/assets/images/HeaderContent/arrowup.svg");
                    margin-left: 12px;
                    display: inline-block;
                    transform: translateX(5px);
                }
                &:hover::after {
                    animation: slideUp 1s infinite;
                }
                &:hover {
                    background: #38bff2;
                }
            }
        }
        &-right {
            position: relative;
            // animation: parallaxRight 1s both;
        }
    }
}
@keyframes parallaxLeft {
    0% {
        transform: translateX(-150%);
    }
    50% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes parallaxRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
.monitor {
    background: url("@/assets/images/HeaderContent/monitor.svg");
    width: 393px;
    height: 174px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .chat {
        position: absolute;
        top: 3px;
        left: 10px;
        animation: scroll 1s both linear infinite;
        z-index: 1;
    }

    .window {
        position: absolute;
        z-index: 1;

        background: url("@/assets/images/HeaderContent/border.svg");
        width: 270px;
        height: 96px;
        top: 27px;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        &-inside {
            position: absolute;
            background: url("@/assets/images/HeaderContent/inside.svg");
            width: 255px;
            height: 80px;
            top: 13px;
        }
    }
    .scroll {
        position: absolute;
        left: 64px;
        top: 2.5px;
        display: block;
    }
    .text {
        position: relative;
        left: 0;
        top: 2.5px;
        width: 100%;
        height: 100%;
        img {
            position: absolute;
            left: 33%;
            height: 2.48px;
            animation: text 3s both infinite linear;
            animation-delay: 1s;
            &:nth-child(2) {
                left: 59%;
                animation-delay: 2s;
            }
            &:nth-child(3) {
                top: 7.5px;
                left: 50%;
                animation-delay: 3s;
            }
            &:nth-child(4) {
                top: 7.5px;
                left: 87%;
                animation-delay: 5s;
            }
            &:nth-child(5) {
                top: 15px;
                left: 54%;
                animation-delay: 7s;
            }
            &:nth-child(6) {
                top: 22.5px;
                left: 41%;
                animation-delay: 8s;
            }
            &:nth-child(7) {
                top: 22.5px;
                left: 47%;
                animation-delay: 11s;
            }
            &:nth-child(8) {
                top: 29px;
                animation-delay: 13s;
            }
            &:nth-child(9) {
                top: 29px;
                left: 59%;
                animation-delay: 14s;
            }
            &:nth-child(10) {
                top: 35.5px;
                width: 92px;
                animation-delay: 15s;
            }
            &:nth-child(11) {
                top: 35.5px;
                left: 72%;
                animation-delay: 12s;
            }
            &:nth-child(12) {
                top: 42px;
                animation-delay: 19s;
            }
            &:nth-child(13) {
                top: 42px;

                left: 48%;
                width: 85px;
                animation-delay: 16s;
            }
            &:nth-child(14) {
                top: 42px;
                left: 88%;
                animation-delay: 18s;
            }
            &:nth-child(15) {
                top: 48px;
                animation-delay: 17s;
            }
            &:nth-child(16) {
                top: 48px;
                left: 42%;
                width: 90px;
                animation-delay: 23s;
            }
            &:nth-child(17) {
                top: 54px;
                left: 50%;
                animation-delay: 21s;
            }
            &:nth-child(18) {
                top: 54px;
                left: 65.5%;
                width: 65px;
                animation-delay: 22s;
            }
            &:nth-child(19) {
                top: 59.5px;
                left: 36%;
                animation-delay: 20s;
            }
            &:nth-child(20) {
                width: 114px;
                top: 59.5px;
                left: 45.5%;
                animation-delay: 25s;
            }
            &:nth-child(21) {
                width: 73px;
                top: 65.5px;
                left: 33%;
                animation-delay: 24s;
            }
            &:nth-child(22) {
                top: 65.5px;
                left: 65.5%;
                animation-delay: 26s;
            }
            &:nth-child(23) {
                width: 110px;
                top: 70.5px;
                left: 33%;
                animation-delay: 27s;
            }
        }
    }
}
.keyboard {
    display: flex;
    justify-content: center;
    padding-top: 37px;
    position: relative;
    z-index: 1;

    .mark {
        position: absolute;
        animation: bounce 1s both infinite;
        animation-direction: alternate-reverse;
        &:nth-child(2) {
            top: -10px;
            left: 44%;
            animation-direction: alternate;
        }
        &:nth-child(3) {
            top: 1px;
            left: 53.5%;
        }
        &:nth-child(4) {
            top: -15px;
            left: 63%;
            animation-direction: alternate;
        }
        &:nth-child(5) {
            top: 1px;
            left: 72.5%;
        }
        &:nth-child(6) {
            bottom: -38px;
            left: 44%;
            animation-direction: alternate;
        }
        &:nth-child(7) {
            bottom: 48px;
            left: 3.9%;
        }
        &:nth-child(8) {
            top: -1px;
            left: 14.9%;
            animation-direction: alternate;
        }
        &:nth-child(9) {
            top: -14px;
            left: 24.4%;
        }
        &:nth-child(10) {
            top: -1px;
            left: 34%;
            animation-direction: alternate;
        }
    }
    .hand {
        position: absolute;
        &.left {
            display: block;
            top: 42%;
            left: 18.5%;
            animation: typing both infinite 4s;
        }
        &.right {
            display: block;
            top: 42%;
            right: 22%;
            animation: typing alternate-reverse infinite 5s;
        }
    }
}
.circles {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    img {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
        transform: scale(1);
        animation: scale 5s both;

        &:nth-child(2) {
            animation: scale2 5s both;
            z-index: -2;
        }
        &:nth-child(3) {
            animation: scale3 5s both;
            z-index: -3;
        }
        &:nth-child(4) {
            animation: scale4 5s both;
            z-index: -4;
        }
    }
}
@keyframes scale {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1.99);
    }
}
@keyframes scale2 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(2);
    }
}
@keyframes scale3 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(3);
    }
}
@keyframes scale4 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(4);
    }
}
@keyframes scale4 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(5);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes typing {
    0% {
        transform: translate3d(0, 0, 0);
    }
    25% {
        transform: translate3d(10px, 0, -30px);
    }
    50% {
        transform: translate3d(-10px, -10px, 0px);
    }
    75% {
        transform: translate3d(10px, -10px, 10px);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
@keyframes slide {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(3px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes slideUp {
    0% {
        transform: translateX(0px) translateY(5px);
    }
    50% {
        transform: translateX(8px) translateY(-5px);
    }
    100% {
        transform: translateX(0px) translateY(5px);
    }
}
@keyframes scroll {
    0% {
        transform: translateY(-1px);
    }
    50% {
        transform: translateY(1px);
    }
    100% {
        transform: translateY(-1px);
    }
}
@keyframes text {
    0% {
        // transform: scale3d(0, 0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
        // transform: scale3d(1, 1, 100);
    }
    100% {
        // transform: scale3d(0, 0, 0);
        opacity: 0;
    }
}
