* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  font-family: Gilroy;
  font-weight: 400;
  user-select: none;
}
@mixin media($size) {
  @media (max-width: #{$size}px) {
    @content;
  }
}

$Gilroy: ("Bold", 700), ("Heavy", 900), ("Medium", 500), ("Regular", 400), ("SemiBold", 600), ("SemiBoldItalic", 600);
@each $name, $weight in $Gilroy {
  @font-face {
    font-family: Gilroy;
    src: url("@/assets/fonts/Gilroy-#{$name}.woff2");
    font-weight: $weight;
  }
}
.container {
  max-width: 1161px;
  width: 100%;
  margin: 0 auto;
  @include media(1140) {
    padding: 0 15px;
  }
  @include media(500) {
    padding: 0;
  }
}
@import "@/components/Header/Header.scss";
@import "@/components/Main/Main.scss";
